# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.2.21"
node = "24.7.0"
"npm:semantic-release" = "24.2.7"
biome = "2.2.0"
actionlint = "1.7.7"
# required for actionlint
shellcheck = "0.11.0"
ghalint = "1.5.3"
pinact = "3.4.2"
zizmor = "1.11.0"
taplo = "0.10.0"
"npm:prettier" = "3.6.2"
markdownlint-cli2 = "0.18.1"
yamlfmt = "0.17.2"
# cspell:ignore pipx
# required for pipx backend
uv = "0.8.13"
yamllint = "1.37.1"
"npm:cspell" = "9.2.0"
lychee = "0.20.1"
typos = "1.35.5"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.19"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks"]

[hooks]
postinstall = ["""
{% if env.CI is undefined %}
  mise run buni
{% endif %}""", "bun link"]
