# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.3.6"
node = "25.3.0"
"npm:semantic-release" = "25.0.2"
biome = "2.2.0"
actionlint = "1.7.10"
# required for actionlint
shellcheck = "0.11.0"
ghalint = "1.5.4"
pinact = "3.8.0"
zizmor = "1.11.0"
taplo = "0.10.0"
"npm:prettier" = "3.8.0"
markdownlint-cli2 = "0.20.0"
yamlfmt = "0.21.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.9.26"
yamllint = "1.38.0"
"npm:cspell" = "9.6.0"
lychee = "0.22.0"
typos = "1.42.1"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.27"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks"]

[hooks]
postinstall = ["""
{% if env.CI is undefined %}
  mise run buni
{% endif %}""", "bun link"]
