# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.3.9"
node = "25.6.1"
"npm:semantic-release" = "25.0.3"
biome = "2.4.4"
actionlint = "1.7.11"
# required for actionlint
shellcheck = "0.11.0"
ghalint = "1.5.5"
pinact = "3.9.0"
zizmor = "1.11.0"
taplo = "0.10.0"
"npm:prettier" = "3.8.1"
markdownlint-cli2 = "0.21.0"
yamlfmt = "0.21.0"
# cspell:ignore pipx
# required for pipx backend
uv = "0.10.3"
yamllint = "1.38.0"
"npm:cspell" = "9.6.4"
lychee = "0.23.0"
typos = "1.43.5"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.27"

[settings]
experimental = true

[settings.npm]
bun = true

[task_config]
includes = ["tasks.toml", "tasks"]

[hooks]
postinstall = ["""
{% if env.CI is undefined %}
  mise run buni
{% endif %}""", "bun link"]
