# name must be autofix.ci for security reasons
# ref: https://autofix.ci/security
name: autofix.ci

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  autofix:
    name: Autofix
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: read # for checkout

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install mise
        uses: jdx/mise-action@5cb1df66ed5e1fb3c670ea0b62fd17a76979826a # v2.3.1
        with:
          version: 2025.7.3
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run autofix
        run: mise run check --continue-on-error
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: autofix.ci
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
        with:
          commit-message: 'style: apply automated fixes'
          # set to false to avoid notifications of canceled workflows
          fail-fast: false
