name: Release

on:
  push:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/lint.yml

  unit:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/unit.yml

  e2e:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/e2e.yml

  release:
    name: Release
    needs:
      - lint
      - unit
      - e2e

    runs-on: ubuntu-24.04
    # set a longer timeout because commenting on pull requests can take a while
    timeout-minutes: 30
    permissions:
      contents: write # for GitHub Release
      issues: write # for commenting on issues
      pull-requests: write # for commenting on pull requests
      id-token: write # for npm provenance

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Install mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
        with:
          version: 2025.11.5
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build
        run: mise run build

      - name: Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  actions-timeline:
    name: Generate Actions Timeline
    needs:
      - release
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
